/* Utility Classes */
.hidden {
    display: none;
}

/* General Classes */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #044360;
    color: white;
    margin: 0;
}


/* Main Header */
header {
    background-color: #f05075;
    padding: 10px 0;
}

#main-logo {
    display: block;
    width: 300px;
    margin: 0 auto;
}


/* Character Nav */
#character-nav {
    background-color: #0b0b0b;
    padding: 40px 0;
    background-image: url(/images/characters-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
}

#characters {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#characters li {
    display: inline-block;
    margin: 15px
}

#characters li img {
    background-color: #056fa0;
    box-shadow: 0px 0px 15px 2px #056fa0;
}

#characters li a {
    text-decoration: none;
}


/* Instructions */
#instructions {
    padding: 20px;
    text-align: center;
}

#instructions h3 {
    font-size: 32px;
}

#instructions p {
    font-size: 16px;
}


/* Footer */
#main-footer {
    height: 80px;
    background-color: #011d2a;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}